ion-content{
    --background: linear-gradient(
        0deg,
        hsl(240deg 100% 20%) 15%,
        hsl(52deg 43% 49%) 79%,
        hsl(55deg 100% 50%) 100%
      );
  }

  ion-label{
    color: black;
  }

  
.boton{
  margin-top: 15px;
  --background: blue;
  display: flex;
  color: white;
  border-radius: 50px;
  margin-bottom: 30px;
}
