<ion-header>
  <ion-toolbar>
    <ion-title>Viajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    src="https://www.pngitem.com/pimgs/m/574-5746420_carpool-rideshare-hd-png-download.png"
  ></ion-img>

  <ion-button class="boton" (click)="ingresarViaje()">Comparte tu viaje</ion-button>

  <div class="container">
    <h1>Te encuentras aca</h1>
    <capacitor-google-map #map class="mapa"></capacitor-google-map>
  </div>

  <ion-button class="boton" (click)="buscarViaje()">Busca tu viaje</ion-button>


  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map" [routerLink]="['/cuenta']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map" [routerLink]="['/viajes']">
        <ion-icon name="car"></ion-icon>
        <ion-label>Organiza tu viaje</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="speakers" [routerLink]="['/historial']">
        <ion-icon name="bookmark"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>
